.form-container {
	background: #F9F3EC;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 60%;
	width: 100%;
	margin: 2% auto;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #400000;
}

form {
	display: flex;
	flex-direction: column;
}

p {
	margin-bottom: 15px;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"],.form-container input[type="url"],
	.form-container textarea, .form-container select, .form-container input[type="number"]
	{
	width: 90%;
	margin: 0% auto;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

input[type="submit"] {
	padding: 10px 20px;
	background-color: #DEAD6F;
	border: none;
	border-radius: 5px;
	color: white;
	font-size:20px;
	width:50%;
	margin:0 auto;
	cursor: pointer;
	transition: background-color 0.3s;
}

.form-errors {
	color: red;
	font-size: 14px;
}

/* Responsive Design */
@media ( max-width : 768px) {
	.form-container {
		padding: 15px;
	}
	h2 {
		font-size: 24px;
	}
	input[type="text"], input[type="number"], input[type="email"], input[type="password"]
		{
		font-size: 14px;
	}
	input[type="submit"] {
		font-size: 14px;
	}
}

@media ( max-width : 480px) {
	.form-container {
		padding: 10px;
	}
	h2 {
		font-size: 20px;
	}
	input[type="text"], input[type="number"], input[type="email"], input[type="password"]
		{
		font-size: 12px;
	}
	input[type="submit"] {
		font-size: 12px;
	}
}